# Dependencias y logs
node_modules
npm-debug.log

# Archivos de entorno (se deben gestionar con variables de entorno en Docker)
.env

# Directorio de Git
.git

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Docker
Dockerfile
.dockerignore
coverage
test
.vscode
.git