<h1>{{title}}</h1>

<nav>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>

{{! Extiende el layout principal }}
{{#> layout}}
<h1 class="text-center">🚀 Mocking API con Express y MongoDB</h1>
<p class="text-center">Genera y visualiza usuarios y mascotas ficticias para pruebas.</p>
<div class="text-center">
  <a href="/users" class="btn btn-primary m-2">Ver Usuarios</a>
  <a href="/pets" class="btn btn-success m-2">Ver Mascotas</a>
  <a href="/mocks" class="btn btn-warning m-2">Generar Mocks</a>
</div>
{{/layout}}